<div class="tagDetail blocksFrame" *ngIf="tag">
	<div class="header">
		<h3><input type="text" class="name" [(ngModel)]="tag.name" (keyup)="nameChanged()"></h3>
		<!-- <h3>{{ tag.name }}</h3> -->
		<button class="deleteTagButton" (click)="deleteTag()" title="remove this tag">
			X
		</button>
	</div>

	<div class="channels" (drop)="dropChannel($event)" (dragover)="$event.preventDefault();">
		<div class="dropZone blocksFrame">
			<div class="dropZoneHeader">
				<p>Move channels right here --> <--</p>
				<button 
					(click)="clearChannels()"
					*ngIf="tag.channels.size > 0">Clear</button>
			</div>
			<div class="container">
				<div  *ngFor="let channel of tag.channels" 
						class="channel channelFrame channelFrameHover" 
						title="{{ channel.id }}">
					<div class="newVideosCount newVideosFrame" title="New videos count">
						{{ channel.newVideosCount }}
					</div>
					<div class="note noteFrame"
						*ngIf="channel.note">
						<textarea class="content"
							title="Your note about channel" 
							placeholder="Your note about channel"
							[(ngModel)]="channel.note" 
							(keyup)="noteChanged(channel)">
						</textarea>
					</div>
					<button 
					class="deleteButton" 
					title="remove from this tag"
					(click)="deleteChannel(channel)">X</button>
					
					<img class="icon" src="{{ channel.iconUrl }}">
					<p class="title"><a routerLink="/channel/{{ channel.id }}">{{ channel.title }}</a><a class="watchOnYoutubeButton" href="https://www.youtube.com/channel/{{ channel.id }}" target="_blank" rel="nofollow noopener" title="watch on YouTube"><img src="https://www.youtube.com/favicon.ico"></a></p>
					<div class="tags">
						<app-channel-tags [channel]="channel"></app-channel-tags>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="tagDetail blocksFrame" *ngIf="!tag">
	loading...
</div>