<div class="openChannelsButton" [attr.visible]="isHidden ? 'true' : 'false'">
	<button (click)="isHidden = false" title="Show panel">
		>
	</button>
</div>

<div class="channels" [attr.visible]="isHidden ? 'false' : 'true'">
	<div class="filterForm">
		<div class="searchWrapper">
			<button (click)="isHidden = true" title="Hide panel">
				<
			</button>
		  	<input type="text" name="searchString" [(ngModel)]="filter.searchString" placeholder="search string">
			<button (click)="toggleCheckboxes()" title="{{ filtersAreOpened() ? 'Close filters' : 'Open filters' }}">
				{{ filtersAreOpened() ? '<' : '>' }}
			</button>
	  	</div>
	  	<div class="checkboxes" id="checkboxes">
		  	<label>
		  		<span>In your subscriptions</span>
		  		<input type="checkbox" name="inSubscriptions" [(ngModel)]="filter.inSubscriptions">
		  	</label>
		  	<label>
		  		<span>Has new videos</span>
		  		<input type="checkbox" name="hasNewVideos" [(ngModel)]="filter.hasNewVideos">
		  	</label>
		  	<label>
		  		<span>Has note</span>
		  		<input type="checkbox" name="isNoted" [(ngModel)]="filter.isNoted">
		  	</label>
		  	<label>
		  		<span>Has tags</span>
		  		<input 
		  			type="checkbox" 
		  			name="isTagged" 
		  			[(ngModel)]="filter.isTagged"
		  			(change)="filter.isNotTagged=false">
		  	</label>
		  	<label>
		  		<span>Doesn't have tags</span>
		  		<input 
		  			type="checkbox" 
		  			name="isNotTagged" 
		  			[(ngModel)]="filter.isNotTagged" 
		  			(change)="filter.isTagged=false">
		  	</label>
		  </div>
	</div>
	<a class="channel" 
		*ngFor="let channel of channels" 
		[hidden]="!(channel | filterChannel:filter)"
		routerLink="/channel/{{channel.id}}"
		draggable="true" 
		(dragstart)="onDrag($event, channel)"
		[class.selected]="isSelected(channel)"
		(click)="onSelect(channel)">
		<div *ngIf="channel.iconUrl">
			<img class="icon" src="{{ channel.iconUrl }}">
		</div>
		<div class="info">
			<p class="title">{{ channel.title }}</p>
			<div>
				<span *ngIf="channel.newVideosCount" class="newVideosCount newVideosFrame" title="{{ channel.newVideosCount > 0 ? 'Channel has ' + channel.newVideosCount + ' new videos' : 'Channel doesn\'t have new videos' }}">{{ channel.newVideosCount }}</span>
				<span *ngIf="channel.isNoted()" class="isNoted noteFrame" title="You have written note for this channel">📝</span>
				<span *ngIf="channel.isTagged()" class="isTagged tagFrame" title="You have added some tags for this channel">✔</span>
			</div>
		</div>
	</a>
</div>