.channels {
	height: 100vh;
}

.channels .selected {
	background: #e5e5e5;
}

.channels[visible="false"] {
	display: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.openChannelsButton {
	display: none;

	padding: 10px 5px;
}

.openChannelsButton > button {
	padding: 0;
}

.openChannelsButton[visible="true"] {
	display: block;
}

.channel {
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;

	min-height: 50px;
	text-decoration: none;
	color: inherit;

	padding: 10px 5px;
	border-bottom: 1px solid #ddd;
}

.channel[hidden] {
	display: none !important;
}

.channel:hover {
	background: #cecece !important;
}

.channel > * {
	/*padding: 0 5px 0 0;*/
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.channel .info {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;

	padding-left: 10px;
}

.title {
	margin: 0 0 5px 0;
	word-wrap: break-word;
}

.icon {
	height: 50px;
}

.isTagged {
	display: inline-block;
	padding: 2px 5px !important;
	border-radius: 5px;
}

.newVideosCount {
	
}

.filterForm {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;

	padding: 10px 5px;
}

.filterForm .searchWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.filterForm .searchWrapper > input {
	flex-grow: 1;
	min-width: 10px;
	margin: 0 10px;
}

.filterForm .searchWrapper > button {
	padding: 0;
}

.filterForm label {
	margin: 5px 0;
}

.filterForm .checkboxes {
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

	overflow: hidden;
	margin-top: 10px;
	max-height: 1000px;
	transition: max-height 0.2s ease-out;
	transition: margin-top 0.5s ease-out;
	font-size: 14px;
}

.filterForm .checkboxes[hidden="true"] {
	max-height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}

.filterForm .checkboxes > * {
	display: inline-block;
	/*border: 1px solid #aeaeae;*/
	border-bottom: 1px solid #aeaeae;
	border-right: 1px solid #aeaeae;
	margin: 2px;
	padding: 2px;
	/*background: #eee;*/
	/*padding: 5px;*/
	/*margin: 5px;*/
	/*border-radius: 5px;*/
	/*box-sizing: border-box;*/
}

.filterForm .checkboxes > * > * {
	padding: 0;
	margin: 0;
	vertical-align: middle;
}