.tagsComponent {
	height: 100%;
}

.tagsComponent[visible="false"] {
	display: none;
}

.openTagsButton {
	display: none;
	padding: 10px 5px;
}

.openTagsButton[visible="true"] {
	display: block;
}

.openTagsButton button {
	padding: 0;
}

.createTagForm {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	padding: 10px 5px;
}
.createTagForm > * {
}
.createTagForm > input {
	min-width: 75px;
}
.createTagForm > button {
	padding: 0 !important;
	margin-left: 10px;
}
.tags {

}

.tag {
	min-height: 25px;
	display: block;
/*	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;*/

	cursor: pointer;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	text-decoration: none;
	color: inherit;
}

.tag:hover {
	
}