<div class="openTagsButton" [attr.visible]="isHidden ? 'true' : 'false'">
	<button (click)="isHidden = false" title="Show panel">
		<
	</button>
</div>

<div class="tagsComponent" [attr.visible]="isHidden ? 'false' : 'true'">
	<div class="createTagForm">
		<input type="text" id="createTagForm_tagName" (keyup)="$event.keyCode == 13 && createTag()">
		<button id="createTagForm_createButton" (click)="createTag()">+</button>
		<button class="hideButton" (click)="isHidden = true" title="Hide panel">
			>
		</button>
	</div>

	<div class="tags" id="tagList">
		<a *ngFor="let tag of tags"
				routerLink="/tag/{{tag?.id}}"
				class="tag tagFrameHover" 
				draggable="true" 
				(dragstart)="onDrag($event, tag)"
				[attr.tag-id]="tag?.id">
			{{ tag?.name }}
		</a>
	</div>
</div>