<div class="channel" *ngIf="channel">
	<div class="header">
		<img *ngIf="channel.iconUrl" class="icon" src="{{ channel.iconUrl }}">
		<div class="wrapper">
			<div class="title" title="{{ channel.id }}">
				<h3>{{ channel.title }}
					<app-watch-on-youtube-link [channel]="channel"></app-watch-on-youtube-link>
				</h3>
			</div>
			<p class="newVideosCount newVideosFrame" title="new videos count">New videos count: {{ channel.newVideosCount }}</p>
			<p *ngIf="channel.inSubscriptions" class="inSubscriptions">Channel is in your subscriptions</p>
		</div>
	</div>
	<div class="note">
		<textarea class="noteFrame" 
			placeholder="Your note about channel"
			[(ngModel)]="channel.note" 
			(input)="noteChanged()">
		</textarea>
	</div>
	<div class="tags" (drop)="dropTag($event)" (dragover)="$event.preventDefault();">
		<div class="dropZone blocksFrame">
			<div class="dropZoneHeader">
				<p>Move tags right here --> <--</p>
				<button 
					(click)="clearTags()"
					*ngIf="channel.isTagged()">Clear</button>
			</div>
			<app-channel-tags [channel]="channel"></app-channel-tags>
		</div>
	</div>

	<button class="openButton" (click)="showYoutubeChannel()" title="Open channel on youtube">
		Open youtube channel
	</button>
</div>

<div class="channel" *ngIf="!channel">
	loading...
</div>